/*=====CUSTOM VALUES FOR ALL LOGIN PAGE BUTTONS=====*/
.start_button {
    padding: 10px 40px;
    font-size: 28px;
    border-radius: 10px;
    border: none;
    background-color: var(--bg-hover);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.start_button:hover {
    border: 1px solid var(--primary-accent);
    background-color: var(--bg-hover);
    transform: scale(1.05);
}


/*=====CUSTOM VALUES FOR REGISTER BUTTON=====*/
#register {
    background-color: transparent;
    color: var(--text-secondary);
    font-size: 20px;
    border: 1px solid var(--border-color);
    padding: 5px 20px;
    border-radius: 10px;
    transition: color 0.2s, border-color 0.2s;
}

#register:hover {
    color: var(--text-color);
    border-color: var(--text-color);
}